@import "tailwindcss";

/* scroll bar customize */
::-webkit-scrollbar {
  width: 5px;
}


::-webkit-scrollbar-track {
  background: #e4e4e4;
  
}


::-webkit-scrollbar-thumb {
  background: #2D4F2B;
  
}


::-webkit-scrollbar-thumb:hover {
  background: #2D4F2B;
}


.green{
  background-color: #2D4F2B;
}

.lightGreen{
  background-color: #708A58;
}

.orange{
  background-color: #FFB823;
}

.cream{
  background-color: #FFF1CA;
}


@media print {
  @page {
    size: A4 landscape;
    margin: 0;
  }

  html, body {
    width: 297mm;
    height: 210mm;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  body * {
    visibility: hidden;
  }

  #certificate,
  #certificate * {
    visibility: visible;
  }

  #certificate {
    position: absolute;
    inset: 0;
  }
}



