@import "tailwindcss";

/* scroll bar customize */
::-webkit-scrollbar {
  width: 8px;
}


::-webkit-scrollbar-track {
  background: #e4e4e4;
  
}


::-webkit-scrollbar-thumb {
  background: #1db954;
  
}


::-webkit-scrollbar-thumb:hover {
  background: #17a444;
}


.agreen{
  background-color: #6a0afb;
}

